/* Start of stylesheet */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    height: 900vh;
}
.navbar{
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
}
.navbar ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-flow: wrap;
    gap: 30px;
}
.navbar a{
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
.navbar ul li a{
    color: #C48b33;
}
.navbar a.home{
    color: #593814;
    font-size: large;
}
/*styling for the navbar*/
a:link {
    color: #C48b33;      /* default link color */
}

a:visited {
    color: purple;    /* after link is clicked */
}

a:hover {
    color: red;       /* when mouse is over link */
    text-decoration: underline;
}

a:active {
    color: orange;    /* when link is being clicked */
}
/*stylings for the link*/
.container2{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    min-height: 100vh;
    
    
}
.hero-right h1{
    font-family: Aclonica;
    font-size: 20px;   
    color: #b46a00;
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 0px 0;  
     padding-top: clamp(3rem, 8vh, 6rem);
}
.hero-container{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
.myhand{
    position: absolute;
    top: -50px;
    left: -100px;
    width: 35%;       /* the magic! scales with container */
    max-width: 420px; /* prevents it from becoming too big */
    height: auto;
    z-index: -1;     
}
.hero-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hero-right p{
     font-size: clamp(1rem, 2.3vw, 1.1rem);
}
.hero-right p span{
    font-weight: bold;
    color: #b46a00;
}
.social-icons{
    display: flex;
    flex-flow: row wrap;
    gap: 14px;
}
.container3 {
  padding: clamp(3rem, 6vw, 6rem) 0;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: clamp(2.5rem, 14vw, 150px);
  margin-left: clamp(1rem, 10vw, 120px);

}

.main1 {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  margin-bottom: clamp(2rem, 4vw, 3rem);
  color: #c47a00;
  
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: clamp(2rem, 4vw, 3rem);
}
.project-card img {
  width: 80%;
  height: auto;
  display: block;
  border-radius: 12px; 
}
.project-card{
    margin: 0%;
}
.project-card h3 {
  margin-top: 1rem;
  color: #c97a00;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.8rem 0;
}
.tags span {
  padding: 0.3rem 0.6rem;
  border: 1px solid #c97a00;
  border-radius: 6px;
  font-size: 0.75rem;
}

.actions {
  display: flex;
  gap: 2rem;
  position: relative;
  margin-top: 1.5rem;
  padding-top: 1rem;
}

.actions a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.actions::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 2px;
  background-color: #c47a00; /* your accent color */
}
.project-card p {
    text-align: start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(4px, 2vw, 16px);
}
/*stylings for container3*/
.container4{
  max-width: 970px;
  margin: auto;
  padding: clamp(2rem, 6vw, 5rem)1rem;
}


.aboutcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: clamp(2rem, 6vw, 4rem);
  align-items: center;
}
.OGFRESH{
  width: 100%;
  max-width: 420px;
  border-radius: 1rem;
  object-fit: cover;
}
.contentonContainer4 h2 {
  font-size: clamp(1.3rem, 3vw, 1.8rem);
  padding-bottom: clamp(2rem, 3vw, 6rem );
}

.working {
  font-size: clamp(0.95rem, 2vw, 1.05rem);
  color: #555;
}
.highlight {
  color: orange;
  font-weight: 600;
  margin: 1rem 0;
}
.frontend{
  font-size: clamp(16px);
}
.mysignature{
  padding-top: clamp(1rem, 3vw, 6rem);
}











/*stylings for container 4*/
@media (max-width: 768px) {
  .myhand {
    display: none;
  }
}
